{% extends "base.html" %}

{% block content %}
    <br>
    <div class="container">
          <h1>Cart</h1>
        {% if cart_list %}
            <div class="card-deck flex-column">
                {% for book in object_list %}
                    <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ book.book_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By {{ book.book_author }} in {{ book.book_launch_year.year }}</h6>
                    </div>
                      <div class="card-body">
                        <p class="card-text text-justify">{{ book.short_description}}</p>

                              <form class="form-inline my-2 my-lg-0" action="#" method="get">
                                  <div class="container">
                                      <a href="{% url 'book-detail' book.pk %}" class="btn btn-secondary">View Book Detail</a>
                                      <button class="btn btn-secondary" type="submit" name="addtocartbtn">Add to my Cart</button>
                                  </div>


                            </form>
                      </div>
                    <div class="card-footer">
                        <small class="text-muted">Genre: {{ book.book_genre.all|join:', '}}</small>
                        <br>
                        <small class="text-muted">Language: {{ book.book_language }}</small>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
      {% else %}
        <p>There are no books in the library.</p>
      {% endif %}
     <div class="container pagination">
                <span class="container step-links">
                    {% if page_obj.has_previous %}
                        <button class="btn btn-secondary"><a href="?page=1" class="text-white">First Page</a></button>
                        <button class="btn btn-secondary"><a href="?page={{ page_obj.previous_page_number }}" class="text-white">Previous</a></button>
                    {% endif %}

                <span class="container current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <button class="btn btn-secondary"><a href="?page={{ page_obj.next_page_number }}" class="text-white">Next</a></button>
                    <button class="btn btn-secondary"><a href="?page={{ page_obj.paginator.num_pages }}" class="text-white">Last Page</a></button>
                {% endif %}
                <br>
                </span>
                 <br>
            </div>
    </div>
{% endblock %}