{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container">
        <h1>Welcome to COMP2152 Library - Term Project</h1>
                <br>
        <div class="container">
            <p>Please make a selection:</p>
        </div>

        <div class="container">
            <div class="card-deck flex-column">
                <a href="{% url 'book-list' %}" class="text-decoration-none">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">View Book List</h5>
                        </div>
                    </div>
                </a>
                <a href="{% url 'cart-list' %}" class="text-decoration-none">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">View Cart</h5>
                    </div>
                </div>
                </a>
                <a href="{% url 'librarystats' %}" class="text-decoration-none">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">Library Statistics</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}